*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 80%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgrey;
    text-align: center;
    font-family: sans-serif;
}

/* Bordi inseriti nei vari elementi per orientarmi */

header{
    background-color: yellow;
    margin-bottom: 10px;
    padding: 20px;
    border: solid 2px;
}

.container{
    /* Non ho capito come funzionano le prime due proprietà ... */
    display:table;
    clear:both;
    width: 100%;
    border: dotted 1px;
}

aside{
    background-color: violet;
    width: calc(30% - 10px);
    padding: 20px;
    border: solid 2px;
}

.left{
    /* height: 400px; */
    margin: 10px 10px 10px 0;
    float: left;
}

main{
    /* height: 600px; */
    float: left;
    width: calc(40% - 20px);
    margin:10px;
    padding: 20px;
    background-color: purple;
    border: solid 2px;
}

.right-top{
    /* height: 250px; */
    margin: 10px 0 10px 10px;
    float: left;
}

.right-bottom{
    /* height: 250px; */
    margin: 10px 0 10px 10px;
    float: right;
}

footer{
    background-color: lightblue;
    margin-top: 10px;
    padding: 20px;
    border: solid 2px;
}
